@import url(https://fonts.googleapis.com/css?family=Inter:300,regular,700&display=swap);
@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-arrright:before {
  content: "\e901"
}
._icon-star:before {
  content: "\e90a"
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #000;
  line-height: 1;
  font-family: Inter;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Inter;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.button {
  display: inline-flex;
  padding: 0 0
}
.button--fw {
  width: 100%
}
input[type=email],
input[type=tel],
input[type=text],
textarea {
  -webkit-appearance: none;
  appearance: none
}
.input {
  border-radius: 0!important;
  width: 100%;
  display: block;
  padding: 0 20px;
  border: 1px solid #eee;
  caret-color: inherit
}
.input[placeholder]:not([data-placeholder-nohiden])::-webkit-input-placeholder {
  -webkit-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::-ms-input-placeholder {
  -ms-transition: opacity .3s;
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden])::placeholder {
  transition: opacity .3s
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-webkit-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus:-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::-ms-input-placeholder {
  opacity: 0
}
.input[placeholder]:not([data-placeholder-nohiden]):focus::placeholder {
  opacity: 0
}
textarea.input {
  resize: none;
  padding: 0 0
}
.menu__list {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: .4375rem
}
.icon-menu {
  display: none
}
[data-showmore-button] span:last-child {
  display: none
}
._showmore-active [data-showmore-button] span {
  display: none
}
._showmore-active [data-showmore-button] span:last-child {
  display: block
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.button {
  border-radius: .25rem;
  transition: background-color .3s;
  font-weight: 400;
  line-height: 1.6875rem
}
.button__white {
  background-color: #fff;
  color: #000
}
.button__black {
  background-color: #1d1d1b;
  color: #fff;
  border: 1px solid #fff
}
.button__center {
  display: block;
  margin: 0 auto
}
h2 {
  text-align: center;
  font-weight: 400
}
h3 {
  font-size: 1.4375rem;
  line-height: 2rem
}
h4 {
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: .9375rem
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #1d1d1b;
  color: #fff;
  border-bottom: 1px solid #fff
}
.header._header-scroll {
  position: fixed;
  top: -200%;
  width: 100%
}
.header._header-show {
  transition: top .3s;
  top: 0
}
.header__container {
  display: flex;
  gap: .9375rem;
  align-items: center;
  height: 5rem;
  justify-content: space-between
}
.header__menu {
  display: flex;
  align-items: center
}
.header__logo {
  width: 5.3125rem;
  height: 1.5rem;
  z-index: 50;
  position: relative
}
.header__actions {
  position: relative;
  z-index: 12;
  display: flex;
  gap: .9375rem;
  align-items: center
}
.header__buttton--2 {
  border-radius: .25rem;
  background-color: #fff;
  color: #000;
  transition: background-color .3s
}
.footer__container {
  display: flex;
  flex-direction: column
}
.footer__sel {
  text-align: right;
  display: flex;
  align-self: flex-end;
  margin-top: .9375rem;
  margin-bottom: .9375rem
}
.footer__en {
  text-align: center
}
.footer__ua {
  text-align: center
}
.footer__columns {
  display: flex;
  justify-content: space-between;
  gap: .9375rem;
  margin-bottom: 4.6875rem
}
.footer__column {
  max-width: 16.5625rem;
  max-width: 10.625rem
}
.footer__rows {
  display: grid;
  gap: 1.25rem
}
.footer__row-1 {
  display: flex;
  justify-content: space-between;
  row-gap: .9375rem
}
.footer__letter {
  flex: 0 0 24.6875rem;
  font-size: 1.125rem;
  font-weight: 300
}
.footer__form {
  display: grid;
  gap: .625rem
}
.footer__form .form__error {
  color: red
}
.footer__icons {
  display: flex;
  flex-wrap: wrap;
  gap: .9375rem;
  align-items: center
}
.footer__icon::before {
  font-size: 1.875rem
}
.footer__text {
  font-size: .8125rem;
  font-weight: 300;
  margin-bottom: .125rem
}
.footer__text a {
  text-decoration: underline;
  font-weight: 400
}
.footer__row-3 {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: .8125rem;
  font-weight: 300
}
.footer__row-4 p {
  font-size: .8125rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: .9375rem
}
.column-footer__logo {
  margin-bottom: 2.8125rem
}
.column-footer__title {
  font-size: 1.0625rem;
  font-weight: 700;
  line-height: 1.6875rem
}
.column-footer__lable {
  color: #000;
  font-size: 1.0625rem;
  font-weight: 300;
  line-height: 1.6875rem;
  max-width: 17.625rem;
  margin-bottom: 1.875rem
}
.column-footer__stars {
  margin-bottom: .9375rem
}
.column-footer__item {
  font-size: .75rem;
  font-weight: 700
}
.column-footer__content li {
  margin-bottom: 1rem;
  font-weight: 300
}
.column-footer__content li h6 {
  font-weight: 400
}
.hero {
  background: url(../img/hero/bg.svg) no-repeat right top/48%,#1d1d1b;
  color: #fff
}
.hero__container {
  display: flex
}
.hero__content {
  margin: auto 0;
  max-width: 36.875rem
}
.hero__title {
  margin-top: 6.25rem;
  color: #fff;
  font-size: 3.3125rem;
  line-height: 3.5rem
}
.hero__title:not(:last-child) {
  margin-bottom: 2.1875rem
}
.hero__text {
  font-weight: 300;
  line-height: 1.6875em
}
.hero__text:not(:last-child) {
  margin-bottom: 1.875rem
}
.hero__button:not(:last-child) {
  margin-bottom: .9375rem
}
.hero__label {
  font-weight: 300;
  line-height: 1.6875em
}
.about {
  background: #1d1d1b;
  position: relative;
  padding-bottom: .9375rem
}
.about__container {
  background: #1d1d1b;
  display: flex;
  flex-direction: column
}
.about__items {
  position: relative;
  z-index: 4;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(15.625rem,1fr));
  gap: .9375rem;
  margin-bottom: .9375rem
}
.about__footer {
  position: relative;
  z-index: 4;
  padding-left: .9375rem;
  padding-right: .9375rem;
  border-radius: .375rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: .9375rem;
  align-items: center;
  background-color: #fff
}
.about__text {
  color: #000;
  font-size: 1.4375rem;
  line-height: 2em
}
.stars-about {
  justify-self: end;
  right: 0;
  display: flex;
  align-items: center;
  gap: 3.4375rem
}
.stars-about__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.stars-about__num {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: .3125rem;
  line-height: 2.25em
}
.stars-about__num::before {
  width: 100%;
  height: 100%
}
.stars-about__text {
  color: #000;
  font-size: .8125rem;
  font-weight: 300;
  line-height: 1rem;
  display: flex;
  gap: .3125rem;
  align-items: center
}
.stars-about__text-1::before {
  content: "";
  background: url(../img/apple.svg) no-repeat;
  width: 1rem;
  height: 1rem
}
.stars-about__text-2::before {
  content: "";
  background: url(../img/play-market.svg) no-repeat;
  width: 1rem;
  height: 1rem
}
.stars-about__text-3::before {
  content: "";
  background: url(../img/grin-star.svg) no-repeat;
  width: 1rem;
  height: 1rem
}
.stars-about__text-i {
  font-size: .8125rem;
  font-weight: 700;
  margin-bottom: .625rem
}
.item-about {
  background-color: #fff;
  border-radius: .375rem;
  border: 1px solid #1d1d1b;
  overflow: hidden
}
.item-about__title {
  display: flex;
  padding: 1.25rem;
  align-items: center;
  justify-content: center;
  height: 6.875rem;
  background-color: #f4f8ac;
  font-size: 1.4375rem;
  line-height: 2rem;
  transition: background-color .3s
}
.item-about__text {
  font-weight: 300;
  line-height: 1.6875rem;
  padding: 1.5625rem 1.25rem
}
.item-about__img {
  padding: .9375rem
}
.item-about__img img {
  aspect-ratio: 213/130
}
.galary {
  margin-bottom: 5rem
}
.galary__container {
  border-top: 1px solid #838282
}
.galary__items {
  margin-bottom: 3.4375rem;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(auto-fill,minmax(24.0625rem,1fr));
  grid-auto-columns: auto auto
}
.galary__button {
  display: block;
  margin: 0 auto
}
.item-galary {
  border-radius: .25rem;
  display: flex;
  flex-direction: column
}
.item-galary:nth-child(1) {
  color: #fff;
  background-color: #1d1d1b;
  grid-row: span 2
}
.item-galary:nth-child(1) .item-galary__imeg {
  aspect-ratio: 385/505
}
.item-galary:nth-child(2) {
  background-color: #efe9fe
}
.item-galary:nth-child(3) {
  background-color: #dff9f0
}
.item-galary:nth-child(4) {
  background-color: #fdffd0
}
.item-galary:nth-child(5) {
  background-color: #ffeadd
}
.item-galary__ibg {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s;
  aspect-ratio: 385/170
}
.item-galary__content {
  padding: 1.5625rem .9375rem
}
.item-galary__title {
  margin-bottom: .625rem;
  font-size: 1.4375rem
}
.item-galary__text {
  line-height: 24px
}
.black {
  background: #1d1d1b;
  display: flex;
  align-items: center;
  justify-content: center
}
.black__button {
  margin: 12.5rem 0
}
.pink {
  background-color: #ffeadd
}
.pink__container {
  display: flex;
  flex-direction: column
}
.pink__brends {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: .9375rem
}
.pink__items {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2.5rem
}
.item-pink {
  position: relative;
  border-left: .0625rem solid #000;
  border-top: .0625rem solid #000;
  border-radius: .375rem;
  align-self: start;
  background-color: #fff
}
.item-pink::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ffd6bc;
  border-radius: .375rem;
  border: .0625rem solid #000
}
.item-pink__content {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff
}
.item-pink__img {
  position: relative;
  overflow: hidden
}
.item-pink__imeg {
  aspect-ratio: 570/310
}
.item-pink__bg-imeg {
  position: absolute;
  z-index: 2;
  left: 35%;
  width: 35.0877192982%
}
.item-pink__body {
  position: relative
}
.item-pink__title:not(:last-child) {
  margin-bottom: .625rem
}
.item-pink__text {
  font-size: 1.0625rem;
  font-weight: 300;
  line-height: 1.58
}
.item-pink__text p:not(:last-child) {
  margin-bottom: .625rem
}
.item-pink__more {
  display: flex;
  width: 100%;
  gap: .3125rem;
  align-items: center;
  text-decoration: underline;
  position: relative;
  background-color: #fff;
  border-radius: 0 0 .375rem .375rem
}
.item-pink__more::after {
  content: "";
  background: url(../img/pink/arr.svg);
  width: .875rem;
  height: .8125rem;
  flex: 0 0 .875rem;
  margin-top: .125rem
}
.sign {
  background-color: #1d1d1b;
  color: #fff
}
.sign__container {
  display: flex;
  flex-direction: column
}
.sign__text {
  margin: 0 auto;
  max-width: 60rem;
  text-align: center
}
.sign__text:not(:last-child) {
  margin-bottom: 1.875rem
}
.finance__items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-column-gap: .5rem;
  -moz-column-gap: .5rem;
  column-gap: .5rem;
  row-gap: 1rem;
  margin-bottom: 2.5rem
}
.header-finance {
  margin-bottom: 3.75rem
}
.header-finance__button-main {
  border: 1px solid #000;
  background-color: #efe9fe;
  margin-bottom: .625rem;
  border-radius: .375rem
}
.header-finance__button:first-child {
  border: 1px solid #000;
  border-radius: .375rem 0 0 .375rem
}
.header-finance__button:nth-child(2) {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-radius: 0
}
.header-finance__button:last-child {
  border: 1px solid #000;
  border-radius: 0 .375rem .375rem 0
}
.header-finance__buttons {
  display: flex;
  justify-content: center
}
.item-finance {
  border-radius: .375rem;
  aspect-ratio: 180/190;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #1d1d1b;
  width: 11.25rem;
  overflow: hidden
}
.item-finance__lable {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: .625rem;
  background-color: #efe9fe;
  color: #000;
  font-size: .75rem;
  font-weight: 300;
  text-transform: uppercase
}
.item-finance__imeg {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center
}
.item-finance__text {
  padding-left: .9375rem;
  padding-right: .9375rem
}
.item-finance__text p {
  color: #636360;
  font-size: .8125rem;
  font-weight: 300;
  line-height: 1.3125rem;
  margin-bottom: .9375rem;
  display: flex;
  justify-content: center;
  text-align: center
}
@media (min-width:61.99875em) {
  .hero {
    min-height: calc(100vh - 5.05rem)
  }
  .hero__container {
    min-height: calc(100vh - 5.05rem)
  }
  .black {
    background: url(../img/black/01.svg) left bottom no-repeat,url(../img/black/03.svg) right bottom no-repeat,url(../img/black/02.svg) right top no-repeat,#1d1d1b;
    height: 100vh
  }
}
@media (min-width:76.875em) {
  .menu__list {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .button {
    padding-top: .9375rem
  }
  .button {
    padding-bottom: .9375rem
  }
  .button {
    padding-left: 1.25rem
  }
  .button {
    padding-right: 1.25rem
  }
  h2 {
    font-size: 2.375rem
  }
  h2 {
    margin-top: 5.625rem
  }
  h2 {
    margin-bottom: 3.75rem
  }
  .header__menu {
    gap: 1.875rem
  }
  .header__buttton--2 {
    padding-top: .9375rem
  }
  .header__buttton--2 {
    padding-bottom: .9375rem
  }
  .header__buttton--2 {
    padding-left: 1.25rem
  }
  .header__buttton--2 {
    padding-right: 1.25rem
  }
  .footer__column:nth-child(1) {
    margin-right: 6.5625rem
  }
  .hero__container {
    padding-top: 7.5rem
  }
  .hero__container {
    padding-bottom: 8.4375rem
  }
  .about::before {
    content: "";
    background-color: #fff;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 17.5rem;
    left: 0;
    bottom: 0
  }
  .about__text {
    font-size: 1.4375rem
  }
  .stars-about {
    gap: 3.4375rem
  }
  .stars-about {
    height: 12.5rem
  }
  .stars-about__num {
    font-size: 1.4375rem
  }
  .pink {
    padding-top: 5rem
  }
  .pink {
    padding-bottom: 5.625rem
  }
  .pink__title:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .pink__brends:not(:last-child) {
    margin-bottom: 3.75rem
  }
  .pink__items {
    gap: 2.5rem
  }
  .item-pink::before {
    top: 1.25rem
  }
  .item-pink::before {
    left: 1.25rem
  }
  .item-pink__bg-imeg {
    bottom: -2.1875rem
  }
  .item-pink__body {
    padding-left: 2.5rem
  }
  .item-pink__body {
    padding-right: 2.5rem
  }
  .item-pink__body {
    padding-bottom: 1.875rem
  }
  .item-pink__body {
    padding-top: 4.0625rem
  }
  .item-pink__more {
    padding-left: 2.5rem
  }
  .item-pink__more {
    padding-top: 2.8125rem
  }
  .item-pink__more {
    padding-bottom: 2.8125rem
  }
  .sign {
    padding-bottom: 5rem
  }
  .finance {
    margin-bottom: 5rem
  }
}
@media (max-width:50em) {
  .footer__columns {
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(2,1fr)
  }
  .footer__row-1 {
    flex-direction: column
  }
  .footer__letter {
    flex: 1 1 auto
  }
}
@media (max-width:20em) {
  .menu__list {
    -webkit-column-gap: .9375rem;
    -moz-column-gap: .9375rem;
    column-gap: .9375rem
  }
  .button {
    padding-top: .625rem
  }
  .button {
    padding-bottom: .625rem
  }
  .button {
    padding-left: .625rem
  }
  .button {
    padding-right: .625rem
  }
  h2 {
    font-size: 1.5rem
  }
  h2 {
    margin-top: 1.875rem
  }
  h2 {
    margin-bottom: 1.25rem
  }
  .header__menu {
    gap: .9375rem
  }
  .header__buttton--2 {
    padding-top: .625rem
  }
  .header__buttton--2 {
    padding-bottom: .625rem
  }
  .header__buttton--2 {
    padding-left: .625rem
  }
  .header__buttton--2 {
    padding-right: .625rem
  }
  .footer__column:nth-child(1) {
    margin-right: -1.875rem
  }
  .hero__container {
    padding-top: 1.875rem
  }
  .hero__container {
    padding-bottom: 2.5rem
  }
  .about__text {
    font-size: .8125rem
  }
  .stars-about {
    gap: .9375rem
  }
  .stars-about {
    height: 9.375rem
  }
  .stars-about__num {
    font-size: .8125rem
  }
  .pink {
    padding-top: 1.875rem
  }
  .pink {
    padding-bottom: 2.5rem
  }
  .pink__title:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .pink__brends:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .pink__items {
    gap: .9375rem
  }
  .item-pink::before {
    top: .3125rem
  }
  .item-pink::before {
    left: .3125rem
  }
  .item-pink__bg-imeg {
    bottom: -1.25rem
  }
  .item-pink__body {
    padding-left: .9375rem
  }
  .item-pink__body {
    padding-right: .9375rem
  }
  .item-pink__body {
    padding-bottom: .625rem
  }
  .item-pink__body {
    padding-top: 1.875rem
  }
  .item-pink__more {
    padding-left: .9375rem
  }
  .item-pink__more {
    padding-top: 1.25rem
  }
  .item-pink__more {
    padding-bottom: 1.25rem
  }
  .sign {
    padding-bottom: 2.5rem
  }
  .finance {
    margin-bottom: 3.125rem
  }
}
@media (max-width:68.375em) {
  .about__items {
    grid-template-columns: repeat(2,1fr)
  }
}
@media (max-width:61.99875em) {
  .pink__brends {
    justify-content: center
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    z-index: 10;
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: .625rem .625rem 1.875rem .625rem;
    transition: left .3s
  }
  .menu__body::before {
    content: "";
    background-color: #1d1d1b;
    position: fixed;
    width: 100%;
    height: 5rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 9
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
    margin-top: 6.25rem;
    margin-bottom: 1.25rem
  }
  .menu__link {
    color: #000;
    font-size: 2.75rem;
    gap: 2.5rem
  }
  .icon-menu {
    color: #fff;
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .hero {
    background: #1d1d1b
  }
  .about__footer {
    grid-template-columns: 1fr;
    gap: .625rem
  }
  .about__text {
    justify-self: center
  }
  .stars-about {
    justify-self: center;
    align-items: center;
    height: 3.125rem;
    margin-bottom: .625rem
  }
  .pink__items {
    grid-template-columns: auto
  }
  .header-finance__button {
    display: block;
    border-radius: .375rem;
    border: 1px solid #000
  }
  .header-finance__button:first-child {
    border-radius: .375rem
  }
  .header-finance__button:nth-child(2) {
    border-radius: .375rem
  }
  .header-finance__button:last-child {
    border-radius: .375rem
  }
  .header-finance__buttons {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: .625rem
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .menu__body {
    display: flex;
    flex-direction: column
  }
  .header__buttton--1 {
    color: #000
  }
  .header__buttton--2 {
    color: #000
  }
  .hero__button {
    width: 100%
  }
  .about__items {
    grid-template-columns: 1fr
  }
  .item-about {
    margin: 0 -.9375rem
  }
  .galary__items {
    grid-template-columns: 1fr;
    margin: 0 -.9375rem;
    padding-bottom: 3.4375rem
  }
}
@media (max-width:29.99875em) and (max-width:20em) {
  .header__buttton--1 {
    font-size: 1.1875rem
  }
  .header__buttton--1 {
    padding-top: .625rem
  }
  .header__buttton--1 {
    padding-bottom: .625rem
  }
  .header__buttton--1 {
    padding-left: .625rem
  }
  .header__buttton--1 {
    padding-right: .625rem
  }
  .header__buttton--2 {
    font-size: 1.1875rem
  }
}
@media (max-width:29.99875em) and (any-hover:hover) {
  .header__buttton--2:hover {
    text-decoration: underline;
    background-color: #fff
  }
}
@media (min-width:20em) and (max-width:76.875em) {
  @supports ((-moz-column-gap:clamp(0.9375rem ,0.8276098901rem + 0.5494505495vw ,1.25rem)) or (column-gap:clamp(0.9375rem ,0.8276098901rem + 0.5494505495vw ,1.25rem))) {
    .menu__list {
      -webkit-column-gap: clamp(.9375rem ,.8276098901rem + .5494505495vw ,1.25rem);
      -moz-column-gap: clamp(.9375rem ,.8276098901rem + .5494505495vw ,1.25rem);
      column-gap: clamp(.9375rem ,.8276098901rem + .5494505495vw ,1.25rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.9375rem ,0.8276098901rem + 0.5494505495vw ,1.25rem)) or (column-gap:clamp(0.9375rem ,0.8276098901rem + 0.5494505495vw ,1.25rem))) {
    .menu__list {
      -webkit-column-gap: calc(.9375rem + .3125 * (100vw - 20rem)/ 56.875);
      -moz-column-gap: calc(.9375rem + .3125 * (100vw - 20rem)/ 56.875);
      column-gap: calc(.9375rem + .3125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(0.625rem ,0.5151098901rem + 0.5494505495vw ,0.9375rem)) {
    .button {
      padding-top: clamp(.625rem ,.5151098901rem + .5494505495vw ,.9375rem)
    }
  }
  @supports not (padding-top:clamp(0.625rem ,0.5151098901rem + 0.5494505495vw ,0.9375rem)) {
    .button {
      padding-top: calc(.625rem + .3125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(0.625rem ,0.5151098901rem + 0.5494505495vw ,0.9375rem)) {
    .button {
      padding-bottom: clamp(.625rem ,.5151098901rem + .5494505495vw ,.9375rem)
    }
  }
  @supports not (padding-bottom:clamp(0.625rem ,0.5151098901rem + 0.5494505495vw ,0.9375rem)) {
    .button {
      padding-bottom: calc(.625rem + .3125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-left:clamp(0.625rem ,0.4052197802rem + 1.0989010989vw ,1.25rem)) {
    .button {
      padding-left: clamp(.625rem ,.4052197802rem + 1.0989010989vw ,1.25rem)
    }
  }
  @supports not (padding-left:clamp(0.625rem ,0.4052197802rem + 1.0989010989vw ,1.25rem)) {
    .button {
      padding-left: calc(.625rem + .625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-right:clamp(0.625rem ,0.4052197802rem + 1.0989010989vw ,1.25rem)) {
    .button {
      padding-right: clamp(.625rem ,.4052197802rem + 1.0989010989vw ,1.25rem)
    }
  }
  @supports not (padding-right:clamp(0.625rem ,0.4052197802rem + 1.0989010989vw ,1.25rem)) {
    .button {
      padding-right: calc(.625rem + .625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (font-size:clamp(1.5rem ,1.1923076923rem + 1.5384615385vw ,2.375rem)) {
    h2 {
      font-size: clamp(1.5rem ,1.1923076923rem + 1.5384615385vw ,2.375rem)
    }
  }
  @supports not (font-size:clamp(1.5rem ,1.1923076923rem + 1.5384615385vw ,2.375rem)) {
    h2 {
      font-size: calc(1.5rem + .875 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-top:clamp(1.875rem ,0.5563186813rem + 6.5934065934vw ,5.625rem)) {
    h2 {
      margin-top: clamp(1.875rem ,.5563186813rem + 6.5934065934vw ,5.625rem)
    }
  }
  @supports not (margin-top:clamp(1.875rem ,0.5563186813rem + 6.5934065934vw ,5.625rem)) {
    h2 {
      margin-top: calc(1.875rem + 3.75 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(1.25rem ,0.3708791209rem + 4.3956043956vw ,3.75rem)) {
    h2 {
      margin-bottom: clamp(1.25rem ,.3708791209rem + 4.3956043956vw ,3.75rem)
    }
  }
  @supports not (margin-bottom:clamp(1.25rem ,0.3708791209rem + 4.3956043956vw ,3.75rem)) {
    h2 {
      margin-bottom: calc(1.25rem + 2.5 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (gap:clamp(0.9375rem ,0.6078296703rem + 1.6483516484vw ,1.875rem)) {
    .header__menu {
      gap: clamp(.9375rem ,.6078296703rem + 1.6483516484vw ,1.875rem)
    }
  }
  @supports not (gap:clamp(0.9375rem ,0.6078296703rem + 1.6483516484vw ,1.875rem)) {
    .header__menu {
      gap: calc(.9375rem + .9375 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(0.625rem ,0.5151098901rem + 0.5494505495vw ,0.9375rem)) {
    .header__buttton--2 {
      padding-top: clamp(.625rem ,.5151098901rem + .5494505495vw ,.9375rem)
    }
  }
  @supports not (padding-top:clamp(0.625rem ,0.5151098901rem + 0.5494505495vw ,0.9375rem)) {
    .header__buttton--2 {
      padding-top: calc(.625rem + .3125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(0.625rem ,0.5151098901rem + 0.5494505495vw ,0.9375rem)) {
    .header__buttton--2 {
      padding-bottom: clamp(.625rem ,.5151098901rem + .5494505495vw ,.9375rem)
    }
  }
  @supports not (padding-bottom:clamp(0.625rem ,0.5151098901rem + 0.5494505495vw ,0.9375rem)) {
    .header__buttton--2 {
      padding-bottom: calc(.625rem + .3125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-left:clamp(0.625rem ,0.4052197802rem + 1.0989010989vw ,1.25rem)) {
    .header__buttton--2 {
      padding-left: clamp(.625rem ,.4052197802rem + 1.0989010989vw ,1.25rem)
    }
  }
  @supports not (padding-left:clamp(0.625rem ,0.4052197802rem + 1.0989010989vw ,1.25rem)) {
    .header__buttton--2 {
      padding-left: calc(.625rem + .625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-right:clamp(0.625rem ,0.4052197802rem + 1.0989010989vw ,1.25rem)) {
    .header__buttton--2 {
      padding-right: clamp(.625rem ,.4052197802rem + 1.0989010989vw ,1.25rem)
    }
  }
  @supports not (padding-right:clamp(0.625rem ,0.4052197802rem + 1.0989010989vw ,1.25rem)) {
    .header__buttton--2 {
      padding-right: calc(.625rem + .625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-right:clamp(-1.875rem ,-4.842032967rem + 14.8351648352vw ,6.5625rem)) {
    .footer__column:nth-child(1) {
      margin-right: clamp(-1.875rem ,-4.842032967rem + 14.8351648352vw ,6.5625rem)
    }
  }
  @supports not (margin-right:clamp(-1.875rem ,-4.842032967rem + 14.8351648352vw ,6.5625rem)) {
    .footer__column:nth-child(1) {
      margin-right: calc(-1.875rem + 8.4375 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(1.875rem ,-0.103021978rem + 9.8901098901vw ,7.5rem)) {
    .hero__container {
      padding-top: clamp(1.875rem ,-.103021978rem + 9.8901098901vw ,7.5rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,-0.103021978rem + 9.8901098901vw ,7.5rem)) {
    .hero__container {
      padding-top: calc(1.875rem + 5.625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,0.4120879121rem + 10.4395604396vw ,8.4375rem)) {
    .hero__container {
      padding-bottom: clamp(2.5rem ,.4120879121rem + 10.4395604396vw ,8.4375rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,0.4120879121rem + 10.4395604396vw ,8.4375rem)) {
    .hero__container {
      padding-bottom: calc(2.5rem + 5.9375 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (font-size:clamp(0.8125rem ,0.5927197802rem + 1.0989010989vw ,1.4375rem)) {
    .about__text {
      font-size: clamp(.8125rem ,.5927197802rem + 1.0989010989vw ,1.4375rem)
    }
  }
  @supports not (font-size:clamp(0.8125rem ,0.5927197802rem + 1.0989010989vw ,1.4375rem)) {
    .about__text {
      font-size: calc(.8125rem + .625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (gap:clamp(0.9375rem ,0.0583791209rem + 4.3956043956vw ,3.4375rem)) {
    .stars-about {
      gap: clamp(.9375rem ,.0583791209rem + 4.3956043956vw ,3.4375rem)
    }
  }
  @supports not (gap:clamp(0.9375rem ,0.0583791209rem + 4.3956043956vw ,3.4375rem)) {
    .stars-about {
      gap: calc(.9375rem + 2.5 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (height:clamp(9.375rem ,8.2760989011rem + 5.4945054945vw ,12.5rem)) {
    .stars-about {
      height: clamp(9.375rem ,8.2760989011rem + 5.4945054945vw ,12.5rem)
    }
  }
  @supports not (height:clamp(9.375rem ,8.2760989011rem + 5.4945054945vw ,12.5rem)) {
    .stars-about {
      height: calc(9.375rem + 3.125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (font-size:clamp(0.8125rem ,0.5927197802rem + 1.0989010989vw ,1.4375rem)) {
    .stars-about__num {
      font-size: clamp(.8125rem ,.5927197802rem + 1.0989010989vw ,1.4375rem)
    }
  }
  @supports not (font-size:clamp(0.8125rem ,0.5927197802rem + 1.0989010989vw ,1.4375rem)) {
    .stars-about__num {
      font-size: calc(.8125rem + .625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(1.875rem ,0.7760989011rem + 5.4945054945vw ,5rem)) {
    .pink {
      padding-top: clamp(1.875rem ,.7760989011rem + 5.4945054945vw ,5rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,0.7760989011rem + 5.4945054945vw ,5rem)) {
    .pink {
      padding-top: calc(1.875rem + 3.125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,1.4010989011rem + 5.4945054945vw ,5.625rem)) {
    .pink {
      padding-bottom: clamp(2.5rem ,1.4010989011rem + 5.4945054945vw ,5.625rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,1.4010989011rem + 5.4945054945vw ,5.625rem)) {
    .pink {
      padding-bottom: calc(2.5rem + 3.125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,1.4354395604rem + 2.1978021978vw ,3.125rem)) {
    .pink__title:not(:last-child) {
      margin-bottom: clamp(1.875rem ,1.4354395604rem + 2.1978021978vw ,3.125rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,1.4354395604rem + 2.1978021978vw ,3.125rem)) {
    .pink__title:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(2.1875rem ,1.6380494505rem + 2.7472527473vw ,3.75rem)) {
    .pink__brends:not(:last-child) {
      margin-bottom: clamp(2.1875rem ,1.6380494505rem + 2.7472527473vw ,3.75rem)
    }
  }
  @supports not (margin-bottom:clamp(2.1875rem ,1.6380494505rem + 2.7472527473vw ,3.75rem)) {
    .pink__brends:not(:last-child) {
      margin-bottom: calc(2.1875rem + 1.5625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (gap:clamp(0.9375rem ,0.3880494505rem + 2.7472527473vw ,2.5rem)) {
    .pink__items {
      gap: clamp(.9375rem ,.3880494505rem + 2.7472527473vw ,2.5rem)
    }
  }
  @supports not (gap:clamp(0.9375rem ,0.3880494505rem + 2.7472527473vw ,2.5rem)) {
    .pink__items {
      gap: calc(.9375rem + 1.5625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (top:clamp(0.3125rem ,-0.0171703297rem + 1.6483516484vw ,1.25rem)) {
    .item-pink::before {
      top: clamp(.3125rem ,-.0171703297rem + 1.6483516484vw ,1.25rem)
    }
  }
  @supports not (top:clamp(0.3125rem ,-0.0171703297rem + 1.6483516484vw ,1.25rem)) {
    .item-pink::before {
      top: calc(.3125rem + .9375 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (left:clamp(0.3125rem ,-0.0171703297rem + 1.6483516484vw ,1.25rem)) {
    .item-pink::before {
      left: clamp(.3125rem ,-.0171703297rem + 1.6483516484vw ,1.25rem)
    }
  }
  @supports not (left:clamp(0.3125rem ,-0.0171703297rem + 1.6483516484vw ,1.25rem)) {
    .item-pink::before {
      left: calc(.3125rem + .9375 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (bottom:clamp(-2.1875rem ,-0.9203296703rem + -1.6483516484vw ,-1.25rem)) {
    .item-pink__bg-imeg {
      bottom: clamp(-2.1875rem ,-.9203296703rem + -1.6483516484vw ,-1.25rem)
    }
  }
  @supports not (bottom:clamp(-2.1875rem ,-0.9203296703rem + -1.6483516484vw ,-1.25rem)) {
    .item-pink__bg-imeg {
      bottom: calc(-1.25rem + -.9375 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-left:clamp(0.9375rem ,0.3880494505rem + 2.7472527473vw ,2.5rem)) {
    .item-pink__body {
      padding-left: clamp(.9375rem ,.3880494505rem + 2.7472527473vw ,2.5rem)
    }
  }
  @supports not (padding-left:clamp(0.9375rem ,0.3880494505rem + 2.7472527473vw ,2.5rem)) {
    .item-pink__body {
      padding-left: calc(.9375rem + 1.5625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-right:clamp(0.9375rem ,0.3880494505rem + 2.7472527473vw ,2.5rem)) {
    .item-pink__body {
      padding-right: clamp(.9375rem ,.3880494505rem + 2.7472527473vw ,2.5rem)
    }
  }
  @supports not (padding-right:clamp(0.9375rem ,0.3880494505rem + 2.7472527473vw ,2.5rem)) {
    .item-pink__body {
      padding-right: calc(.9375rem + 1.5625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(0.625rem ,0.1854395604rem + 2.1978021978vw ,1.875rem)) {
    .item-pink__body {
      padding-bottom: clamp(.625rem ,.1854395604rem + 2.1978021978vw ,1.875rem)
    }
  }
  @supports not (padding-bottom:clamp(0.625rem ,0.1854395604rem + 2.1978021978vw ,1.875rem)) {
    .item-pink__body {
      padding-bottom: calc(.625rem + 1.25 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(1.875rem ,1.1057692308rem + 3.8461538462vw ,4.0625rem)) {
    .item-pink__body {
      padding-top: clamp(1.875rem ,1.1057692308rem + 3.8461538462vw ,4.0625rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,1.1057692308rem + 3.8461538462vw ,4.0625rem)) {
    .item-pink__body {
      padding-top: calc(1.875rem + 2.1875 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-left:clamp(0.9375rem ,0.3880494505rem + 2.7472527473vw ,2.5rem)) {
    .item-pink__more {
      padding-left: clamp(.9375rem ,.3880494505rem + 2.7472527473vw ,2.5rem)
    }
  }
  @supports not (padding-left:clamp(0.9375rem ,0.3880494505rem + 2.7472527473vw ,2.5rem)) {
    .item-pink__more {
      padding-left: calc(.9375rem + 1.5625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(1.25rem ,0.7005494505rem + 2.7472527473vw ,2.8125rem)) {
    .item-pink__more {
      padding-top: clamp(1.25rem ,.7005494505rem + 2.7472527473vw ,2.8125rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,0.7005494505rem + 2.7472527473vw ,2.8125rem)) {
    .item-pink__more {
      padding-top: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(1.25rem ,0.7005494505rem + 2.7472527473vw ,2.8125rem)) {
    .item-pink__more {
      padding-bottom: clamp(1.25rem ,.7005494505rem + 2.7472527473vw ,2.8125rem)
    }
  }
  @supports not (padding-bottom:clamp(1.25rem ,0.7005494505rem + 2.7472527473vw ,2.8125rem)) {
    .item-pink__more {
      padding-bottom: calc(1.25rem + 1.5625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(2.5rem ,1.6208791209rem + 4.3956043956vw ,5rem)) {
    .sign {
      padding-bottom: clamp(2.5rem ,1.6208791209rem + 4.3956043956vw ,5rem)
    }
  }
  @supports not (padding-bottom:clamp(2.5rem ,1.6208791209rem + 4.3956043956vw ,5rem)) {
    .sign {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,2.4656593407rem + 3.2967032967vw ,5rem)) {
    .finance {
      margin-bottom: clamp(3.125rem ,2.4656593407rem + 3.2967032967vw ,5rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,2.4656593407rem + 3.2967032967vw ,5rem)) {
    .finance {
      margin-bottom: calc(3.125rem + 1.875 * (100vw - 20rem)/ 56.875)
    }
  }
}
@media (max-width:29.99875em) and (min-width:76.875em) {
  .header__buttton--1 {
    font-size: 1.5rem
  }
  .header__buttton--1 {
    padding-top: .9375rem
  }
  .header__buttton--1 {
    padding-bottom: .9375rem
  }
  .header__buttton--1 {
    padding-left: 1.25rem
  }
  .header__buttton--1 {
    padding-right: 1.25rem
  }
  .header__buttton--2 {
    font-size: 1.5rem
  }
}
@media (max-width:29.99875em) and (min-width:20em) and (max-width:76.875em) {
  @supports (font-size:clamp(1.1875rem ,1.0776098901rem + 0.5494505495vw ,1.5rem)) {
    .header__buttton--1 {
      font-size: clamp(1.1875rem ,1.0776098901rem + .5494505495vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.1875rem ,1.0776098901rem + 0.5494505495vw ,1.5rem)) {
    .header__buttton--1 {
      font-size: calc(1.1875rem + .3125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-top:clamp(0.625rem ,0.5151098901rem + 0.5494505495vw ,0.9375rem)) {
    .header__buttton--1 {
      padding-top: clamp(.625rem ,.5151098901rem + .5494505495vw ,.9375rem)
    }
  }
  @supports not (padding-top:clamp(0.625rem ,0.5151098901rem + 0.5494505495vw ,0.9375rem)) {
    .header__buttton--1 {
      padding-top: calc(.625rem + .3125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-bottom:clamp(0.625rem ,0.5151098901rem + 0.5494505495vw ,0.9375rem)) {
    .header__buttton--1 {
      padding-bottom: clamp(.625rem ,.5151098901rem + .5494505495vw ,.9375rem)
    }
  }
  @supports not (padding-bottom:clamp(0.625rem ,0.5151098901rem + 0.5494505495vw ,0.9375rem)) {
    .header__buttton--1 {
      padding-bottom: calc(.625rem + .3125 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-left:clamp(0.625rem ,0.4052197802rem + 1.0989010989vw ,1.25rem)) {
    .header__buttton--1 {
      padding-left: clamp(.625rem ,.4052197802rem + 1.0989010989vw ,1.25rem)
    }
  }
  @supports not (padding-left:clamp(0.625rem ,0.4052197802rem + 1.0989010989vw ,1.25rem)) {
    .header__buttton--1 {
      padding-left: calc(.625rem + .625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (padding-right:clamp(0.625rem ,0.4052197802rem + 1.0989010989vw ,1.25rem)) {
    .header__buttton--1 {
      padding-right: clamp(.625rem ,.4052197802rem + 1.0989010989vw ,1.25rem)
    }
  }
  @supports not (padding-right:clamp(0.625rem ,0.4052197802rem + 1.0989010989vw ,1.25rem)) {
    .header__buttton--1 {
      padding-right: calc(.625rem + .625 * (100vw - 20rem)/ 56.875)
    }
  }
  @supports (font-size:clamp(1.1875rem ,1.0776098901rem + 0.5494505495vw ,1.5rem)) {
    .header__buttton--2 {
      font-size: clamp(1.1875rem ,1.0776098901rem + .5494505495vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.1875rem ,1.0776098901rem + 0.5494505495vw ,1.5rem)) {
    .header__buttton--2 {
      font-size: calc(1.1875rem + .3125 * (100vw - 20rem)/ 56.875)
    }
  }
}
@media (any-hover:hover) {
  .menu__link:hover {
    text-decoration: underline
  }
  .button__white:hover {
    background-color: #d5c8fb
  }
  .button__black:hover {
    background-color: #58565b
  }
  .header__buttton--1:hover {
    text-decoration: underline
  }
  .header__buttton--2:hover {
    background-color: #d5c8fb
  }
  .footer__rows div a {
    transition: 3s,-webkit-text-decoration 0;
    transition: text-decoration 0,3s;
    transition: text-decoration 0,3s,-webkit-text-decoration 0
  }
  .footer__rows div a:hover {
    text-decoration: underline
  }
  .column-footer__content li a {
    transition: .3s,-webkit-text-decoration;
    transition: text-decoration,.3s;
    transition: text-decoration,.3s,-webkit-text-decoration
  }
  .column-footer__content li a:hover {
    text-decoration: underline
  }
  .item-about__title:hover {
    background-color: #d5c8fb
  }
  .item-galary__ibg:hover {
    -webkit-transform: scale(1.02);
    transform: scale(1.02)
  }
  .item-galary__title a:hover {
    text-decoration: underline
  }
  .item-finance__title a:hover {
    text-decoration: underline
  }
}